html,
body {
    height: 100%;
    margin: 0;
}

#loc-card {
    background-color: rgb(232, 232, 232);
}

#desk-view {
    display: none;
    margin-bottom: 2em;
}

#mob-view {
    margin-bottom: 2em;
    display: none;
}

.mob-togglr {
    border: none !important;
}

.mob-input {
    margin-bottom: 0.5em;
}


/* #result-view { */


/* background-color: brown; */


/* } */

.customContainer .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customContainer .box-1 {
    background-color: #605f69
    /* height: 60px; */
}

.customContainer .box-2 {
    /* background-color: blue; */
    flex: 1;
    margin-bottom: 1em;
}

.customContainer {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#result-container {
    height: 100%;
    padding: 0;
    display: none;
}

#perioxi {
    padding-top: 2.2em;
    padding-bottom: 2em;
}

#footer {
    /* margin-top: 0.2em; */
    margin-bottom: 0;
}

#footer>nav {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

#footer>nav span {
    /* padding-top: 0.1em; */
    padding-bottom: 0;
    font-size: 0.9em;
    color: rgb(230, 230, 230);
}

#footer>nav span a {
    /* padding-top: 0.1em; */
    padding-bottom: 0;
    color: rgb(230, 230, 230);
    font-size: 1em;
    text-decoration: underline;
}

#footer>nav span a:hover {
    font-weight: 700;
    color: white;
}

#title>h1 {
    font-size: 1.8em;
    padding-top: 0.8em;
    padding-bottom: 0.4em;
}

#news-dropdown {
    margin-top: 2em;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.unselectable:hover {
    cursor: default;
}